@import 'tailwindcss';

* {
    box-sizing: border-box;
}

:root {
    --color-bg-1: #ffffff;
    --color-bg-2: #4e2fd2;
    --color-bg-3: #edf4ff;
    --color-bg-4: #f0f4f7;
    --color-bg-5: #1df0bb;

    --color-text-1: #1f1f1f;
    --color-text-2: #0b0d10;
    --color-text-3: #484848;
    --color-text-4: #575757;
    --color-text-5: #a8b2bd;

    --color-highlighted-1: #4e2fd2;
    --color-highlighted-2: #6f7882;
    --color-highlighted-3: #0aa288;
    --color-highlighted-4: #d8392b;
    --color-highlighted-5: #0000ee;

    --color-icon-1: #6f7882;
    --color-icon-2: #575757;
    --color-icon-3: #4e2fd2;
    --color-icon-4: #525963;
    --color-icon-5: #ced6de;

    --color-border-1: #1f1f1f;
    --color-border-2: #ced6de;
    --color-border-3: #cccccc;
    --color-border-4: #4d2fd2;
    --color-border-5: #e6ebf0;
    --color-border-6: #0aa288;
}

body {
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
    font-family: 'Gilroy', sans-serif;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/gilroy-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/gilroy-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/gilroy-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@theme {
    --color-bg-1: var(--color-bg-1);
    --color-bg-2: var(--color-bg-2);
    --color-bg-3: var(--color-bg-3);
    --color-bg-4: var(--color-bg-4);
    --color-bg-5: var(--color-bg-5);

    --color-text-1: var(--color-text-1);
    --color-text-2: var(--color-text-2);
    --color-text-3: var(--color-text-3);
    --color-text-4: var(--color-text-4);
    --color-text-5: var(--color-text-5);

    --color-highlighted-1: var(--color-highlighted-1);
    --color-highlighted-2: var(--color-highlighted-2);
    --color-highlighted-3: var(--color-highlighted-3);
    --color-highlighted-4: var(--color-highlighted-4);
    --color-highlighted-5: var(--color-highlighted-5);

    --color-icon-1: var(--color-icon-1);
    --color-icon-2: var(--color-icon-2);
    --color-icon-3: var(--color-icon-3);
    --color-icon-4: var(--color-icon-4);
    --color-icon-5: var(--color-icon-5);

    --color-border-1: var(--color-border-1);
    --color-border-2: var(--color-border-2);
    --color-border-3: var(--color-border-3);
    --color-border-4: var(--color-border-4);
    --color-border-5: var(--color-border-5);
    --color-border-6: var(--color-border-6);

    --font-gilroy: 'Gilroy', sans-serif;
}

@layer utilities {
    .invisible-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .invisible-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
